.taskList {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskList div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 16px;
}

.taskList div > img {
  margin-bottom: 1rem;
}

.taskList div > p {
  color: var(--gray-300);
  font-weight: bold;
}

.taskList div > p:last-child {
  color: var(--gray-300);
  font-weight: 400;
}
